:root {
  --grid-rows: 16;
  --grid-cols: 16;
  --pen-color: #393e46;
}

.container {
  display: grid;
  height: 400px;
  width: 400px;
  margin: auto;
  gap: 0;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.cell {
  transition: all .07s ease;
  background-color:white;
  border:none;
  margin: 0px;
  padding: 0px;
  }

  .line {
      background-color: black;
  }